extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        // formulario aqui
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST" )
            .campo 
                label(for="tarea") Tarea 
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de tarea") 
            .campo.enviar  
                input.boton.nueva-tarea(type="submit" value="Agregar")

        // listado de pendiente

        .listado-pendientes
            ul 
                if tareas.length
                    each  tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en este proyecto   
                        
        //- pro= vardump(tareas)
        // Avance del proyecto

        .avance
            h2 Avance del Proyecto 
             #barra-avance.barra-avance
                #porcentaje.porcentaje
                
        // listar las acciones
        .contenedor-acciones
            a(href=`/proyecto/${proyecto.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto.   

